* {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
  border-collapse: collapse;
}
html, body {
  height: 100%;
}
.infoViz {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "leaflet leaflet narrative"
    "leaflet leaflet narrative"
    "leaflet leaflet chart";
}
.leaflet-container {
  grid-area: leaflet;
}
.leaflet-pane {
  display: block;
}
.narrative {
  grid-area: narrative;
  padding: 1rem;
}
.narrative h2 {
  margin-bottom: 10px;
}
.chart {
  grid-area: chart;
}
.chart svg {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}